

/* table {
    width: 100%;
}
   

.mat-column-c1 {
    border: 1px solid currentColor;
    text-align: center;
}

.mat-column-c2 {
    border: 1px solid currentColor;
    text-align: center;
}

.mat-column-c3 {
    border: 1px solid currentColor;
    text-align: center;
} */